<h1 onload="getListById();"> {{ Listname }} </h1>
<ul  class="list-group">
  <li ng-repeat = "x in toDoListItems" class="list-group-item" >
    {{ x.Title }}
    <ul>
    <li  class="list-group-item">{{ x.Desc }}</li>
    <!--<li class="list-group-item">{{ x.State }}</li>-->
  </ul>
  </li>  
</ul>
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalAddNewList">Add <i class="fa fa-plus"></i></button>
<div class="modal fade" id="myModalAddNewList">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create TodoListItem</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form >
              <div class="form-group">
                <label for="Title">Title:</label>
                <input type="text" class="form-control" id="Title" ng-model="TitleOfToCreatingListItem">
              </div>
              <div class="form-group">
                <label for="Desc">Desc:</label>
                <input type="text" class="form-control" id="Desc" ng-model="DescOfToCreatingListItem">
              </div>                           
              <button type="submit"  data-dismiss="modal" class="btn btn-primary" ng-click="createNewToDoListItem(TitleOfToCreatingListItem,DescOfToCreatingListItem)">Create</button>
            </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>  

<div id="LogMessagesDiv"  class="alert alert-{{AlertMessage}} alert-dismissible fade show">                 
</div>
</div>