<table  border="1" class="table table-hover">
    <thead class="thead-light" >
        <tr>          
          <th>Listname</th>
          <th>Owner</th>      
          <th>Actions</th>                
        </tr>
      </thead>
    <tr ng-repeat="x in toDoLists" data-toggle="collapse" data-target="#demo">      
        <td>{{x.Title}}</td>
        <td>{{x.Owner}}</td>
        <td><a ng-href="#!items"><button type="button" class="btn btn-primary" ng-click="getItemsOfList(x.ListId)"  >Show Items <i class="fa fa-navicon"></i></button></a>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalEdit" ng-click="editTodoList(x.Title,x.Owner,x.ListId)">Edit <i class="fa fa-edit"></i></button>
            <button type="button" class="btn btn-danger" ng-click="deleteToDolistItem(x.Title,x.Owner,x.ListId)">Remove <i class="fa fa-trash"></i></button>
        </td>                                    
    </tr>
    
</table>
<button ng-click="getTDLs()">Get all TodoLists!</button>    
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModalAddNewList">Add <i class="fa fa-plus"></i></button>
<div class="modal fade" id="myModalEdit">
    <div class="modal-dialog">
      <div class="modal-content">              
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit TodoList</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form >
                <div class="form-group">
                  <label for="Listname">Listname:</label>
                  <input type="text" class="form-control" id="Listname" ng-model="CurrentToDolistToEdit.ListName ">
                </div>
                <div class="form-group">
                  <label for="Owner">Owner:</label>
                  <input type="text" class="form-control" id="Owner" ng-model="CurrentToDolistToEdit.Owner">
                </div>                           
                <button type="submit" data-dismiss="modal" class="btn btn-primary">Save</button>
              </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div> 

  <div class="modal fade" id="myModalAddNewList">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Create TodoList</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form >
                <div class="form-group">
                  <label for="Listname">Listname:</label>
                  <input type="text" class="form-control" id="Listname" ng-model="ListnameOfToCreatingList">
                </div>
                <div class="form-group">
                  <label for="Owner">Owner:</label>
                  <input type="text" class="form-control" id="Owner" ng-model="OwnerOfToCreatingList">
                </div>                           
                <button type="submit"  data-dismiss="modal" class="btn btn-primary" ng-click="createNewToDoList(ListnameOfToCreatingList,OwnerOfToCreatingList)">Create</button>
              </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>  

<div id="LogMessagesDiv"  class="alert alert-{{AlertMessage}} alert-dismissible fade show">                 
</div>
</div>